.select-container {
  width: 300px;
  margin: auto;
  user-select: none;
  position: relative;
  z-index: 2;
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.4s;
}

.select-container:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 5px 11px 0 rgba(0,0,0,0.19);
}

.select-display {
  padding: 10px;
  border: 1px solid #c3c2c2;
  background: #edeaea;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.innerMainSelectField {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-arrow {
  color: orange;
}

.options-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000; /* High z-index to ensure it's above other content */
}

.option-each {
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.option-each:hover {
  background-color: #f2f2f2;
}

.option-icon {
  margin-right: 10px;
  width: 20px; /* Adjust size as needed */
  height: auto;
}

.groupPair1 {
  background-color: #c9c9c9;
}

/* Media query for screens with a maximum width of 767px (typical for mobile devices) */
@media only screen and (max-width: 767px) {
  .select-container {
    width: 220px;
  }
  .select-display {
    padding: 5px;
  }
  .option-each {
    padding: 5px;
    font-size: 13px;
  }
}