.selectMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.selectChildDiv {
  position: relative;
}

.selectArea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  appearance: none;
  background-color: #f8f8f8;
  cursor: pointer;
  width: 250px;
}

.selectChildDiv:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 25px; /* Increased font size */
  color: orange;
  pointer-events: none;
  cursor: pointer;
  border-radius: 10px; /* Increased border-radius */
}