.inputMainDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
.inputField {
  outline: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px;
  width: 600px;
  border: solid gray 1px;
  outline: none;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  background-color: #edeaea;
  box-sizing: border-box; /* Include padding in the width */
}
.searchButton {
  margin-left: -40px;
  font-size: 18px;
  border: none;
  background-color: none;
  background: none;
  cursor: pointer;
}
